body
{
	height:100%;
}
h3
{
	width:inhert;	
}
#validation
{
	display:none;
}
.header
{
	display:none;
}
.topNav
{
	display:none;
}

.sidebar
{
	display:none
}
.content
{
	clear:both;
	max-height:100%;
	height:100%;
	overflow:none;
}

.positionDate, .educationDate, .involvementDate
{
	 height:10px;
	 max-height:10px;
	 padding:20px;
 
}
.position
{
	float:left;
	padding0px 100px 0px 0px;
	margin:0;
	width:400px;
}
.employmentDate 
{
	float:left;
	padding:0 0 0 200px;
	margin:0;
	width:300px;
}
.positionDetails, .skills
{
	padding-left:30px;
}
.educationDetails ul li
{
	padding-left:10px;	
	list-style-type:none;
}
.languageTable ,.languageTable tr td,
.softwareTable, .softwareTable tr td
{
	border:1px solid black;	
}
.languageTable tr td
{
	padding:5px;
}
.education
{
	float:left;
	padding0px 50px 0px 0px;
	margin:0;
	width:500px;
	height:20px;	
}
.institution
{
	float:left;
	width:200px;
	padding:0;
	margin:0;
}
.schoolLocation ,.clubName
{
	float:left;
	padding:0;
	margin:0;	
}
.graduationDate, .participationDate
{
	float:left;
	padding:0 0 0 100px;
	margin:0;
	width:300px;
}
#kirkwoodName
{
	float:left;
	width:255px !important;
	padding:0;
	margin:0;
}
.clubPosition
{
	float:left;
	width:100px !important;
	padding:0;
	margin:0;
}
.involvement
{
	float:left;
	width:525px;
}
p
{
	margin:0;
	padding:0;
}
#linkedin
{
	padding-top:0;
	margin-top:0;
}
#extResume
{
	width:130px;
	padding:0;
	margin:0;
}

#name
{
	padding-left:350px;
	margin-bottom:0px;
	width:300px;
}
.email, .email a
{
	margin:0;
	padding:0;
	color:black;
	font-size:large;
	text-decoration:none;
	padding-left:180px;
}