body
{
	padding:0px;
	margin:0px;		
	background-color:#76766e;
	width:1000px auto;
	height:800px;
}

p
{
	margin:0 auto;
	padding:0 auto;
}
.title
{
	color:#5858FA;
	text-align:center;
}
.header
{
	height:40px;
	width:1050px;
	
}
.topNav
{
	height:30px;
	width:1150px ;
	background-color:white;
}
.topNav ul
{
	color:white;
	padding-left:200px ;
}
.topNav ul li
{
	border 1px solid black;
	list-style-type:none;
	float:left;
	padding-right:15px;
}
.topNav ul li a
{
	text-decoration:none;
	font-size:x-large;	
}
.sidebar
{
	float:left;
	background-color:#045FB4;
	width:230px auto;
	
	min-height:600px;
	height:100%;
	max-height:1000px;
	padding:2px 2px 0px 5px ;
	margin:0 auto;
}
.content
{
	 float:left;
	 background-color:#01DFD7;
	 width:900px ;
	
	 min-height:600px ;
	 max-height:800px;
	 height:100%;
	 overflow:scroll;
	 padding:0px;
	 margin:0 auto;
}
#marketPic
{
	padding-top:20px;
}
#studioPic
{
	padding-top:20px;
}
#paragraph1
{
	width:500px ;
}



#artsImage
{
	top:0px;
	float:left;
	width:200px auto;
	padding-left:200px;
	margin:0;	
}
#interest, #passion
{
	float:right;
	width:500px ;
	margin: 0 auto;
}
#interest
{
	padding: 30px 30px 0 0 ;
}
#interest p, #passion p
{
	padding:0;
	margin:0 ;
}
#passion
{
	padding-right: 30px;
}
#paragraph2
{
	float:right;
	width:400px ;
	height:200px;
	padding:30px 0 0 0;
	margin:0 ;
}
.spacer
{ 
	clear:both;
	padding-top:10px;	
}
#paragragh3
{
	clear:both;
	float:right;
	width:600px;
	
	height:100px;

}
.amImage
{
	float:right;
	padding-right:100px;
	padding-top:10px;

}
.artistImages
{
	width:300px auto !important;
	min-width:inherit;
	padding:0;
	margin:0 auto;
}
.audioFile
{
	width:200px auto;
	min-width:inherit;
	height:10px ;
	padding:0 0 10px 0;
	margin:0 auto;
}
.positionDate,.involvementDate
{
	 height:10px;
	 max-height:10px;
	 padding:20px;
 
}
.position
{
	float:left;
	padding0px 100px 0px 0px auto;
	margin:0 auto;
	width:400px auto;
}
.employmentDate 
{
	float:left;
	padding:0 0 0 200px;
	margin:0;
	width:300px;
}
.positionDetails, .skills
{
	padding-left:30px;
}
.educationDate
{
	 height:10px;
	 max-height:10px;
	 padding:20px 20px 0 20px;
}
.educationDetails ul
{
	padding-top:0;
}
.educationDetails ul li
{
	
	padding-left:10px;	
	list-style-type:none;
}
.languageTable ,.languageTable tr td,
.softwareTable, .softwareTable tr td
{
	border:1px solid black;	
}
.languageTable tr td
{
	padding:5px;
}
.education
{
	float:left;
	
	margin:0 auto;
	width:500px auto;
	height:20px ;	
}
.institution
{
	float:left;
	width:200px auto;
	padding:0 ;
	margin:0 auto;
}
.schoolLocation ,.clubName
{
	float:left;
	padding:0;
	margin:0 auto;	
}
.graduationDate, .participationDate
{
	float:left;
	padding:0 0 0 100px;
	margin:0;
	width:300px auto;
}
#kirkwoodName
{
	float:left;
	width:255px auto ;
	padding:0 10px 0 0;;
	margin:0;
}
.clubPosition
{
	float:left;
	width:100px auto ;
	padding:0;
	margin:0;
}
.involvement
{
	float:left;
	width:525px;
}

#linkedin
{
	padding-top:0;
	margin-top:0;
}
#extResume
{
	width:130px auto;
	padding:0;
	margin:0 auto;
}

#name
{
	padding-left:350px;
	margin-bottom:0px;
	width:300px auto;
}
.email, .email a
{
	margin:0 auto;
	padding:0;
	color:black;
	font-size:large;
	text-decoration:none;
	padding-left:180px;
}
#BrentsComputer
{
	padding-top:10px;
}
#validation
{
 width:800px;	
}